section.section
    .container
        h1.title.is-4 EDUCATION ATTAINMENT
        //- college
        .container
            .columns.is-mobile
                .column
                    p.title.is-5 
                        i.fas.fa-university.my-icon
                        | Infotech Institute of Sciences and Arts
                    p.subtitle.is-6 
                        i.fas.fa-graduation-cap.my-icon
                        | Course: Computer Science in Technology
                    .content
                        b Awards and Certification
                        ul
                            li - Tesda Certification NCII
                            li - Tesda Certification NCIV
                .column.has-text-right
                    p.subtitle.is-6 
                        i.fas.fa-calendar-alt.my-icon
                        | 2009 – 2011
        .my-breaker
        //- college
        .container
            .columns.is-mobile
                .column
                    p.title.is-5 
                        i.fas.fa-university.my-icon
                        | Rizal Technological University
                    p.subtitle.is-6 
                        i.fas.fa-graduation-cap.my-icon
                        | Course: B.S. in Computer Engineering
                .column.has-text-right
                    p.subtitle.is-6 
                        i.fas.fa-calendar-alt.my-icon
                        | 2008 – 2009
        .my-breaker
        //- hs
        .container
            .columns.is-mobile
                .column
                    p.title.is-5 
                        i.fas.fa-university.my-icon
                        | Mataas na Paaralang Neptali A. Gonzales
                .column.has-text-right
                    p.subtitle.is-6 
                        i.fas.fa-calendar-alt.my-icon
                        | 2004 – 2008