section.hero.is-medium
    .hero-body
        .container.has-text-centered
            h1.title.is-3 John Eric T. Orolfo
            h2.subtitle.is-4 Application Developer
            p
                i.fas.fa-map-marker-alt.my-icon
                | Blk. 6 Mauway Bliss Compound, Brgy. Mauway, Mandaluyong City, Philippines
            .my-breaker
            nav.level
                .level-item
                    a(href="mailto:jorolfo@protonmail.com", target="_blank")
                        i.fas.fa-envelope-square.my-icon
                        | jorolfo@protonmail.com
                .level-item
                    a(href="https://www.facebook.com/jeto1903", target="_blank")
                        i.fab.fa-facebook-square.my-icon
                        | jeto1903
                .level-item
                    a(href="https://twitter.com/CodingHamtaro", target="_blank")
                        i.fab.fa-twitter-square.my-icon
                        | @CodingHamtaro