section.section
    .container
        h1.title.is-4 HOBBIES
        p
            | Aside from being a web and application developer. I'm also good at game development - striving to learn the best game design in my free time, and I love to create prototypes (experimental) which will help to understand and improve my programming skills by learning some game mechanics.
