section.section
    .container
        h1.title.is-4 PROFESSIONAL SUMMARY
        p
            | Have a broad technical knowledge and thrives to extend and improve different skill sets - web, app, mobile, and game development. Knowledgeable and always wants to learn different new tools that may fit with the current project's needs. Personally, I hate overtime and underestimated projects. Also, love to share and discuss new ideas.