section.section
    .container
        h1.title.is-4 PROGRAMMING LANGUAGES
        .columns.is-mobile
            .column
                p.title.is-6 Language
                p Javascript
                p PHP
                p GoLang
                p Lua
                p C / C++
                p Java
            .column.has-text-right
                p.title.is-6 Years of Experience
                p 9 Years
                p 7 Years
                p 3 Years
                p 2 Years
                p 1 Year
                p 1 Year