section.section
    .container
        h1.title.is-4 TOOLS && LIBRARIES
        .content
            ul
                li - NPM
                li - Git
                li - ZSH
                li - ReactJS
                li - Docker
                li - CasperJS
                li - Glide
                li - VSCode
                li - SublimeText
                li - WebStorm IDE
