section.section
    .container
        h1.title.is-4 WORK HISTORY
        //- xlr8
        .container
            h1.title.is-5 XLR8 Ventures Inc., / Arcanys
            p.subtitle.is-6 
                i.fas.fa-user-tie.my-icon
                | Javascript Developer
                br
                i.fas.fa-map-marker-alt.my-icon
                | 10th Floor, Rockwell Business Center Sheridan Tower 1, Sheridan & United Street, Mandaluyong, 1554 Metro Manila
                br
                i.fas.fa-calendar-alt.my-icon
                | September 2018 - February 2020
            p
                | Back-End
                br
                | Developed microservices on the cloud for an existing postal and parcel system by using the following Amazon Web Services such as:
            .content
                ul
                    li - Lambda
                    li - DynamoDB
                    li - SQS (Simple Queue Service)
                    li - SNS (Simple Notification Service)
                    li - S3 (Simple Storage Service)
                    li - CloudWatch
            p
                | I also used other tools like - Chai, SinonJS with BitBucket Pipeline to test and run automation tasks during deployment.
        
        .my-breaker
        //- usap
        .container 
            h1.title.is-5 U.S. Autoparts Network (Philippines)
            p.subtitle.is-6 
                i.fas.fa-user-tie.my-icon
                | Server-Side Developer
                br
                i.fas.fa-map-marker-alt.my-icon
                | Robinson Cybergate Plaza, EDSA corner Cybergate Street, Mandaluyong City, 1554, Metro Manila
                br
                i.fas.fa-calendar-alt.my-icon
                | April 2014 - August 2018
            p
                | Front-End
                br
                | Improved eCommerce site’s functionality and components that enrich UI/UX. Implementation of SEO’s team requirements regarding tagging, and different plugins that may affect the impression of SEO engines.
            p
                | Back-End
                br
                | Developed different micro-services to improve the application's performance, by improving the database query performance, speed processing, integration of different technologies such as Docker (container images) and Kubernetes (orchestration tool for Docker images) and AWS tools and services.

        .my-breaker
        //- acme
        .container
            h1.title.is-5 Acme BPO
            p.subtitle.is-6 
                i.fas.fa-user-tie.my-icon
                | Junior Web Developer
                br
                i.fas.fa-map-marker-alt.my-icon
                | Rufino, Makati City
                br
                i.fas.fa-calendar-alt.my-icon
                | September 2011 - April 2014
            p
                | Developed different solutions on website's back-end processes & extending Wordpress' functionality like integrating of one the following APIs:
            .conternt
                ul
                    li - Capsule CRM
                    li - Asana
                    li - Stripe (Payment Gateway)
                    li - Authorize.NET (Payment Gateway)
                    li - Chargify (Payment Gateway)
            p
                | Also developed Google Chrome applications and extensions that would inject JS scripts on a certain website/application to give some extra functionality to play across on our server or on some APIs.







