@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import "../..//node_modules/bulma/sass/utilities/_all.sass";
@import "../..//node_modules/bulma/sass/base/_all.sass";
@import "../..//node_modules/bulma/sass/elements/container.sass";
@import "../..//node_modules/bulma/sass/elements/title.sass";
@import "../..//node_modules/bulma/sass/layout/hero.sass";
@import "../..//node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/components/level.sass";

$family-monospace: 'Roboto';
$family-primary: $family-monospace;

// overrider
.my-icon {
    margin-right: 10px;
}

.my-breaker {
    padding: 10px;
}